.wrapper{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    padding:0 24px;
    h2{
        padding: 20px 0px; 
        margin-top: 10px;
    }
    .content{
        background: rgb(255, 255, 255);
        padding: 24px;
        margin: 0px 0px 20px;
        border-radius: 10px;
        padding:24px;
        .con{
            display:flex;
            flex-direction: column;
            .stem{
                width: 100%;
                height: 77px;
                display:flex;
                flex-direction: column;
                margin-bottom: 20px;
                label{
                    padding: 0 0 8px;
                }
                input{
                    width: 500px;
                    height: 40px;
                    padding-left:10px;
                }
            }
            .topic_theme{
                width: 100%;
                height: 370px;
                display:flex;
                flex-direction: column;
                label{
                    padding: 0 0 8px;
                }
            }
            .class{
                width: 100%;
                height:255px;
                display:flex;
                flex-direction: column;
                margin-top: 30px;
                .examination_type{
                    width: 100%;
                    height: 70px;
                    margin: 0 0 18px;
                    display:flex;
                    flex-direction: column;
                    label{
                        padding: 0 0 8px;
                    }
                }
                .course_types{
                    width: 100%;
                    height: 70px;
                    margin: 0 0 18px;
                    display:flex;
                    flex-direction: column;
                    label{
                        padding: 0 0 8px;
                    }
                }
                .topic_type{
                    width: 100%;
                    height: 70px;
                    margin: 0 0 18px;
                    display:flex;
                    flex-direction: column;
                    label{
                        padding: 0 0 8px;
                    }
                }
            }
            .answer_information{
                width: 100%;
                height: 370px;
                display:flex;
                flex-direction: column;
            }
            .footer{
                width: 100%;
                height: 40px;
                margin-top: 20px;
                button{
                    padding: 0 40px!important;
                    border-radius: 4px!important;
                    border: 0!important;
                    font-size: 14px!important;
                    color: #fff!important;
                    background:linear-gradient(-90deg,#4e75ff,#0139fd)!important;
                }
            }
        }
    }
}