.wrapper{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    padding:0 24px;
    h2{
        padding: 20px 0px; 
        margin-top: 10px;
    }
    .content{
        background: rgb(255, 255, 255);
        padding: 24px;
        margin: 0px 0px 20px;
        border-radius: 10px;
        padding:24px;
        .con{
            display:flex;
            flex-direction: column;
            .stem{
                width: 100%;
                height: 77px;
                display:flex;
                flex-direction: column;
                margin-bottom: 20px;
                label{
                    padding: 0 0 8px;
                }
                input{
                    width: 500px;
                    height: 40px;
                    padding-left:10px;
                }
            }
            .topic_theme{
                width: 100%;
                height: 370px;
                display:flex;
                flex-direction: column;
                label{
                    padding: 0 0 8px;
                }
                .topic_theme_content{
                    width: 100%;
                    height: 300px;
                    border:1px solid #ccc;
                    border-radius: 10px;
                    display:flex;
                    flex-direction: column;
                    overflow: hidden;
                    .option{
                        width: 100%;
                        height: 45px;
                        border-bottom:1px solid #ccc;
                        display:flex;
                        .ul_left{
                            width: 60%;
                            height: 45px;
                            display:flex;
                            justify-content: space-around;
                            line-height: 45px;
                            li{
                                display: flex;
                                align-items: center;
                                padding: 4px 6px;
                                margin: 8px 4px;
                                border-radius: 4px;
                                line-height: normal;
                                
                                
                            }
                            li:hover{
                                background: #ccc;
                            }
                        }
                        .ul_right{
                            width: 20%;
                            height: 45px;
                            display:flex;
                            justify-content: space-around;
                            li{
                                width: 45px;
                                height: 45px;
                                line-height: 45px;
                                text-align: center;
                                i{
                                   
                                }
                            }
                        }
                    }
                    .option_content{
                        width: 100%;
                        height: 100%;
                        display:flex;
                        .option_left{
                            width: 30px;
                            height: 100%;
                            margin:0;
                            border-right: 1px solid #ccc;
                            text-align: center;
                            line-height: 50px;
                            background:#eee;
                        }
                        .option_right{
                            flex:1;
                            textarea{
                                width: 100%;
                                height: 100%;
                                border:0;
                                padding:10px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            .class{
                width: 100%;
                height:255px;
                display:flex;
                flex-direction: column;
                .examination_type{
                    width: 100%;
                    height: 70px;
                    margin: 0 0 18px;
                    display:flex;
                    flex-direction: column;
                    label{
                        padding: 0 0 8px;
                    }
                }
                .course_types{
                    width: 100%;
                    height: 70px;
                    margin: 0 0 18px;
                    display:flex;
                    flex-direction: column;
                    label{
                        padding: 0 0 8px;
                    }
                }
                .topic_type{
                    width: 100%;
                    height: 70px;
                    margin: 0 0 18px;
                    display:flex;
                    flex-direction: column;
                    label{
                        padding: 0 0 8px;
                    }
                }
            }
            .answer_information{
                width: 100%;
                height: 370px;
                display:flex;
                flex-direction: column;
                .answer_information_content{
                    width: 100%;
                    height: 300px;
                    border:1px solid #ccc;
                    border-radius: 10px;
                    display:flex;
                    flex-direction: column;
                    overflow: hidden;
                    .answer_option{
                        width: 100%;
                        height: 45px;
                        border-bottom:1px solid #ccc;
                        display:flex;
                        .ul_left{
                            width: 60%;
                            height: 45px;
                            display:flex;
                            justify-content: space-around;
                            li{
                                width: 45px;
                                height: 45px;
                                line-height: 45px;
                                text-align: center;
                                i{
                                   
                                }
                            }
                        }
                        .ul_right{
                            width: 20%;
                            height: 45px;
                            display:flex;
                            justify-content: space-around;
                            li{
                                width: 45px;
                                height: 45px;
                                line-height: 45px;
                                text-align: center;
                                i{
                                   
                                }
                            }
                        }
                    }
                    .answer_option_content{
                        width: 100%;
                        height: 100%;
                        display:flex;
                        .answer_option_left{
                            width: 30px;
                            height: 100%;
                            margin:0;
                            border-right: 1px solid #ccc;
                            text-align: center;
                            line-height: 50px;
                            background:#eee;
                        }
                        .answer_option_right{
                            flex:1;
                            textarea{
                                width: 100%;
                                height: 100%;
                                border:0;
                                padding:10px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            .footer{
                width: 100%;
                height: 40px;
                margin-top: 20px;
                button{
                    padding: 0 40px!important;
                    border-radius: 4px!important;
                    border: 0!important;
                    font-size: 14px!important;
                    color: #fff!important;
                    background:linear-gradient(-90deg,#4e75ff,#0139fd)!important;
                }
            }
        }
    }
}