.wrapper{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    padding:0 24px;
    h2{
        padding: 20px 0px; 
        margin-top: 10px;
    }
    .content{
        background: rgb(255, 255, 255);
        padding: 24px;
        margin: 0px 0px 20px;
        border-radius: 10px;
        padding:24px;
        .con{
            display:flex;
            flex-direction: column;
            .stem{
                width: 100%;
                height: 77px;
                display:flex;
                flex-direction: column;
                margin-bottom: 20px;
                label{
                    padding: 0 0 8px;
                }
                input{
                    width: 500px;
                    height: 40px;
                    padding-left:10px;
                }
            }
            .topic_theme{
                width: 100%;
                height: 370px;
                display:flex;
                flex-direction: column;
                label{
                    padding: 0 0 8px;
                }
            }
            .class{
                width: 100%;
                height:255px;
                display:flex;
                flex-direction: column;
                margin-top: 30px;
                .examination_type{
                    width: 100%;
                    height: 70px;
                    margin: 0 0 18px;
                    display:flex;
                    flex-direction: column;
                    label{
                        padding: 0 0 8px;
                    }
                }
                .course_types{
                    width: 100%;
                    height: 70px;
                    margin: 0 0 18px;
                    display:flex;
                    flex-direction: column;
                    label{
                        padding: 0 0 8px;
                    }
                }
                .topic_type{
                    width: 100%;
                    height: 70px;
                    margin: 0 0 18px;
                    display:flex;
                    flex-direction: column;
                    label{
                        padding: 0 0 8px;
                    }
                }
            }
            .answer_information{
                width: 100%;
                height: 370px;
                display:flex;
                flex-direction: column;
            }
            .footer{
                width: 100%;
                height: 40px;
                margin-top: 20px;
                button{
                    padding: 0 40px!important;
                    border-radius: 4px!important;
                    border: 0!important;
                    font-size: 14px!important;
                    color: #fff!important;
                    background:linear-gradient(-90deg,#4e75ff,#0139fd)!important;
                }
            }
            
        }
        .mask{
            width: 100%;
            height: 100%;
            background:rgba(0, 0, 0, .3);
            position: absolute;
            top:0;
            left:0;
            z-index: 99999;
            .mask_content{
                width: 420px;
                height: 200px;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                background:#fff;
                .content_top{
                    width: 100%;
                    height: 120px;
                    span{
                        width: 20px;
                        height: 20px;
                        border:1px solid orange;
                        border-radius: 50%;
                        display:block;
                        text-align: center;
                        line-height: 20px;
                        margin:20px auto;
                        color:orange;
                    }
                    h3{
                        text-align: center;
                        line-height: 30px;
                    }
                    p{
                        width: 100%;
                        text-align: center;
                    }
                }
                .footer_button{
                    width: 100%;
                    height: 80px;
                    display:block;
                    text-align: center;
                    Button{
                        height: 40px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .added_mask{
            width: 100%;
            height: 100%;
            background:rgba(0, 0, 0, .3);
            position: absolute;
            top:0;
            left:0;
            z-index: 99999;
            .added_mask_content{
                width: 420px;
                height: 180px;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                background:#fff;
                display:flex;
                flex-direction: column;
                i{
                    width: 20px;
                    height: 20px;
                    border:1px solid green;
                    border-radius: 50%;
                    display:block;
                    text-align: center;
                    line-height: 20px;
                    margin:20px auto;
                    color:green;
                }
                h3{
                    text-align: center;
                    line-height: 30px;
                }
                Button{
                    margin:20px auto;
                }
            }
        }
    }
}
