.header{
    width: 100%;
    height: 64px;
    line-height: 64px;
    padding: 0 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.19)!important;
    display: flex;
    justify-content: space-between;
    z-index:999;
    .header_logo{
        width: 120px;
        margin: 16px 28px 16px 0;
        float: left;
        line-height: 31px;
        text-align: center;
        color: #fff;
        font-weight: 700;
        font-family: "\5B8B\4F53";
        background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1551624718911&di=4a7004f8d71bd8da84d4eadf1b59e689&imgtype=0&src=http%3A%2F%2Fimg105.job1001.com%2Fupload%2Falbum%2F2014-10-15%2F1413365052_95IE3msH.jpg") no-repeat;
        background-size: 100% 100%;
    }
    .header_user{
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        .headerUser{
            width: 135px;
            height: 64px;
            text-align: center;
            .header_user_img{
                font-size: 14px;
                font-variant: tabular-nums;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline-block;
                text-align: center;
                color: #fff;
                white-space: nowrap;
                position: relative;
                overflow: hidden;
                vertical-align: middle;
                width: 32px;
                height: 32px;
                line-height: 32px;
                border-radius: 50%;
                margin-right: 10px;
                img{
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }
        .headerUser:hover{
            background:#eee;
        }
    }
    .mask{
        width: 100%;
        height: 100%;
        background:rgba(0, 0, 0, .3);
        position: absolute;
        top:0;
        left:0;
        z-index: 99999;
        .mask_content{
            width: 310px;
            height: 200px;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            background:#fff;
            .content_top{
                width: 100%;
                height: 60px;
                margin-top: 30px;
                .header_user_img{
                    width: 50px;
                    height: 50px;
                    display:block;
                    line-height: 32px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-left: 130px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .content_con{
                width: 100%;
                height: 50px;
                line-height: 50px;
                margin-left: 50px;
            }
            .footer_button{
                width: 100%;
                height: 80px;
                display:block;
                text-align: center;
                Button{
                    height: 40px;
                    margin-right: 10px;
                }
            }
        }
    }
    .header_hove{
        padding: 0 10px;
        display: flex;
        >a{
            flex: 1;
            color:#000;
            display: flex;
            align-items: center;
            span:first-of-type{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                margin-right: 10px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .header_hove:hover{
        background: #eee;
        display: flex;
    }
}
:global{
    .ant-modal-body{
        >div{
            height: 50px;
            padding: 10px 0;
            display: flex;
            align-items: center;
            >span:first-of-type{
                width: 70px;
            }
        }
        >.user_pic{
            >img{
                width: 100%;
                height: 100%;
            }
            >span:last-of-type{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                border: 1px solid #ccc;
                position: relative;
                >input{
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    position: absolute;
                    top:0;
                    left:0;
                }
                >img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}