.wrapper{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    padding:0 24px;
    h2{
        padding: 20px 0px; 
        margin-top: 10px;
    }
    .content{
        width: 100%;
        margin: 0px 0px 20px;
        border:1px solid #ccc;
        display:flex;
        flex-wrap:wrap;
        >div{
            width: 33.3%;
            text-align: center;
            box-sizing: border-box;
            padding:8px;
            
        }
        .button{
            background:linear-gradient(-90deg,#4e75ff,#0139fd)!important;
        }
        .add_user{
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            .tab{
                width: 100%;
                display:flex;
                justify-content: flex-start;
                margin-bottom: 20px;
            }
            .addUser{
                width: 100%;
                display:flex;
                flex-direction: column;
                .select_idd{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                }
                .select_id{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                }
                .footer_button{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                    text-align: center;
                    Button{
                        height: 40px;
                        margin-right: 10px;
                    }
                }
            }
            
        }
        .add_identityr{
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            .tab{
                width: 100%;
                display:flex;
                justify-content: flex-start;
                margin-bottom: 20px;
            }
            .addIdentityr{
                width: 100%;
                display:flex;
                flex-direction: column;
                .footer_button{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                    text-align: center;
                    Button{
                        height: 40px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .add_api_jurisdiction{
            border-bottom: 1px solid #ccc;
            .tab{
                width: 100%;
                display:flex;
                justify-content: flex-start;
                margin-bottom: 20px;
            }
            .api_jurisdiction{
                width: 100%;
                display:flex;
                flex-direction: column;
                .footer_button{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                    text-align: center;
                    Button{
                        height: 40px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .add_view{
            border-right: 1px solid #ccc;
            .tab{
                width: 100%;
                display:flex;
                justify-content: flex-start;
                margin-bottom: 20px;
            }
            .add_view_content{
                width: 100%;
                display:flex;
                flex-direction: column;
                .add_view_select{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                }
                .footer_button{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                    text-align: center;
                    Button{
                        height: 40px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .identityr_jurisdiction{
            border-right: 1px solid #ccc;
            .tab{
                width: 100%;
                display:flex;
                justify-content: flex-start;
                margin-bottom: 20px;
            }
            .identityr_jurisdiction_content{
                width: 100%;
                display:flex;
                flex-direction: column;
                .identityr_jurisdiction_select{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                }
                .identityr_jurisdiction_selects{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                }
                .footer_button{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                    text-align: center;
                    Button{
                        height: 40px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .view_jurisdiction{
            .tab{
                width: 100%;
                display:flex;
                justify-content: flex-start;
                margin-bottom: 20px;
            }
            .view_jurisdiction_content{
                width: 100%;
                display:flex;
                flex-direction: column;
                .view_jurisdiction_select{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                }
                .view_jurisdiction_select{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                }
                .footer_button{
                    width: 100%;
                    height: 40px;
                    display:flex;
                    justify-content: flex-start;
                    text-align: center;
                    Button{
                        height: 40px;
                        margin-right: 10px;
                    }
                    
                }
            }
        }
    }
}