.ant_submit{
    button{
        padding: 0 40px!important;
        border-radius: 4px!important;
        border: 0!important;
        font-size: 14px!important;
        color: #fff!important;
        background: linear-gradient(-90deg,#4e75ff,#0139fd)!important;
        margin-left: 40px;
    }
}
.ant_list{
    
    .ant_list_item{
        display: flex;  
        padding: 12px 0;
        border-bottom: 1px solid #e8e8e8;
        >a{
            flex: 1;
            h4{
                margin-bottom: 4px;
                line-height: 22px;
                font-size: 14px;
            }
            >div:last-of-type{
                margin-top: 10px;
                >div{
                    margin-bottom: 10px;
                }
                span{
                color:#0139FD
                    
                }
            }
        }
        ul{
            align-self: center;
            li{
                padding-right: 8px;
                color:#0139FD
            }
        }
    }
    .ant_list_item:hover{
        background: #f7f8ff;
        
    }
}
.ant-tag-checkable-checked{
    background-color: #0139FD !important;
    color:#fff
}
